@import url(https://fonts.googleapis.com/css?family=Lora|Roboto:400,500);

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;

  /* fixing horizontal scrolling */
  overflow-x: hidden;
}
body::before,
body::after {
  content: "";
  display: table;
  clear: both;
}

.head-section {
  box-shadow: 0 8px 6px -6px black;
  background-image: url("hack.png");
  color: #fafafa;
}

.icon {
  color: black;
}
.lts-1px {
  letter-spacing: 1px;
}
.lts-2px {
  letter-spacing: 2px;
}

img.w-full {
  width: 100%;
}

.row {
  margin: 0 auto;
}
.mycard {
  margin: 2rem auto;
  padding: 15px;
}

/* card animations */
.shadow-1 {
  box-shadow: 0 4px 5px 0 rgba(15, 4, 4, 0.45);
}
.blue-hover {
  transition: all 0.25s ease-in;
  border-bottom: 5px solid transparent;
}
.blue-hover:hover {
  transform: translateY(-10px);
}
/* card animations end */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: center;
  height: 3.5rem;
}

.footer-block {
  text-align: center;
  margin-top: 1rem;
  margin: 1rem auto;
}

/* ****************** Responsive Styles ********************** */
@media (max-width: 1200px) {
  .fa-3x {
    font-size: 1.5em;
  }
  .card-body {
    padding: 0.8rem;
  }
  .card-title {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.8rem;
  }
}

@media (max-width: 767px) {
  .row {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 550px) {
  .footer-block {
    margin: 0.5rem auto;
  }
  .w-full {
    height: auto;
  }
}

@media (max-width: 425px) {
  .card-title {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 450px) {
  body {
    overflow-x: hidden;
  }

  .mycard {
    padding: 0rem;
  }
}
